.product {
  position: relative;
}
.product p {
  color: #eee;
  position: absolute;
  margin: 0;
  padding: 0 3rem;
  z-index: 1000;
}
.product p:nth-child(1) {
  font-size: 1.7rem;
  top: 10%;
}
.product p:nth-child(2) {
  font-size: 2rem;
  top: 17%;
}
.product p:nth-child(3) {
  font-size: 2rem;
  top: 27%;
}
.product input[type="image"] {
  width: 100%;
  height: 100%;
}
.coming-soon {
  font-family: "Gotham Black";
  font-size: 2.5rem;
  height: 6rem;
  line-height: 6rem;
  color: #fff;
  background-color: var(--primary-color);
  margin: 0 0 10rem 0;
}
