@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;

  --primary-color: #1ecad3;
  --color-gray: 199 199 199;
  --color-white: 255 255 255;
}

header,
div,
nav,
section,
article {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
nav {
  height: 3em;
}
a {
  text-decoration: none;
  color: black;
  display: block;
}

.row {
  margin: 0;
}

.flex {
  display: flex;
}
.no-wrap {
  flex-wrap: nowrap;
}
.overflow {
  overflow: hidden;
}
.wrap {
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-left {
  justify-content: left;
}

.justify-right {
  justify-content: right;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.h-full {
  height: 100%;
}

.h-1\/2 {
  height: 50%;
}

.top-menu {
  position: absolute;
  right: 0;
}

.logo {
  color: var(--primary-color);
}

.info-text {
  color: white;
}
.logo-box {
  height: 8vh;
}
.main-etc {
  margin: 1em 0;
  color: var(--primary-color);
}
.side-item {
  height: 3em;
  line-height: 3em;
}

.hidden-menu-list {
  font-size: 0.8em;
  display: block;
  position: absolute;
  display: none;
  height: 92vh;
  padding: 0;
  bottom: 0;
  z-index: 1000;
}
.hidden-menu-left * {
  padding: 0 0.5em;
  color: white;
}
.hidden-menu-right * {
  color: white;
}
.hidden-menu-list ul {
  padding: 0 0;
  margin: 0;
  background-color: #1ecad3;
}
.hidden-menu-list li {
  padding: 0;
}
.hidden-menu-right li a {
  border-left: 1px solid #fff;
}
.hidden-menu-icon {
  cursor: pointer;
}

.reservation {
  display: block;

  height: 3em;
  line-height: 3em;

  background-color: var(--primary-color);
  color: rgba(var(--color-white));
}

.nav-item {
  line-height: 3em;
}
.bg-white {
  background-color: rgba(255, 255, 255);
  background: center no-repeat cover;
}
.side-menu {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  height: 92vh;
}

.side-menu ul:nth-child(1) {
  background-color: #1ecad3;
  height: fit-content;
  margin: 0;
}
.side-menu ul:nth-child(1) li:nth-child(1),
.side-menu ul:nth-child(1) li:nth-child(2),
.side-menu ul:nth-child(1) li:nth-child(3) {
  margin: 0.5rem;
  padding: 0.5rem;
}
.side-menu ul:nth-child(1) li:nth-child(4) {
  position: relative;
  margin: 0.5rem 0.5rem 0.5rem auto;
  padding: 0.5rem;
}
.side-menu ul:nth-child(1) li:nth-child(4)::before {
  content: "|";
  font-weight: 600;
  position: absolute;
  color: white;
  left: -1rem;
}
.side-menu ul:nth-child(1) li a {
  color: white;
}
.side-menu ul:nth-child(2),
.side-menu ul:nth-child(3),
.side-menu div,
.side-menu ul:nth-child(5) {
  height: fit-content;
  font-size: 2.1rem;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-weight: bold;
}
.side-menu ul:nth-child(2) li,
.side-menu ul:nth-child(3) li {
  width: 100%;
  padding: 0.5rem 0;
}

.side-menu ul:nth-child(2) li a,
.side-menu ul:nth-child(3) li a,
.side-menu ul:nth-child(5) li a {
  text-align: left;
  margin: 0 2rem;
}
.side-menu ul:nth-child(2) li:nth-child(1) a::after {
  display: inline-block;
  content: "제주맥주 한달살기";
  height: inherit;
  line-height: inherit;
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0 0 0 3rem;
}
.side-menu ul:nth-child(2) li:nth-child(5) {
  display: flex;
  margin-top: 10px;
  padding: 1rem 0;
  border-top: solid #1ecad3 3px;
  border-bottom: solid #1ecad3 3px;
  width: fit-content;
}
.side-menu ul:nth-child(2) li:nth-child(5) a::after {
  display: inline-block;
  content: "양조장 투어";
  height: inherit;
  line-height: inherit;
  font-size: 1.5rem;
  font-weight: 100;
  margin: 0 0 0 3rem;
}
.side-menu ul:nth-child(3) {
  margin-bottom: auto;
  padding-bottom: auto;
}
.side-menu div {
  margin-top: auto;
}
.side-menu div a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-menu ul:nth-child(5) {
  margin-bottom: 0;
  margin-top: auto;
  border-top: solid #1ecad3 3px;
  padding: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
/* main */
.jumbotron {
  background: none;
}

/* footer */
.social > * {
  padding: 0;
}
.footer-text-item > a,
.footer-text-item > p {
  padding: 0;
  padding: 0 0.5em;
}
@media (max-width: 990px) {
  .justify-left-xs {
    justify-content: left;
  }
  hn {
    padding: 0.5em 0;
  }
  .header {
    padding: 0;
    min-height: 8vh;
    justify-content: space-between;
  }
  .logo-box {
    padding: 0;
    justify-content: left;
  }
  .jumbotron p {
    font-size: 14px;
  }

  .info-text:nth-child(1) {
    margin: 1em 0 0.2em 0;
  }

  .info-text:nth-child(2),
  .info-text:nth-child(3),
  .info-text:nth-child(4) {
    margin: 0.2em;
  }
  .footer-text-item > a,
  .footer-text-item > p {
    font-size: 10px;
  }
}

@media (min-width: 989px) {
  .side.menu {
    height: 92vh;
    display: block;
  }
  .justify-right-md {
    justify-content: right;
  }
  .header {
    font-weight: 500;
  }
  .info-text {
    text-align: left;
    font-size: 1.5em;
    font-weight: 300;
  }
  .main-etc {
    font-size: 1.5em;
  }
  .footer-text-item > a,
  .footer-text-item > p {
    width: fit-content;
  }
}
.line-center {
  height: 2em;
  line-height: 2em;
}
.footer-text-line {
  height: 1.5em;
  line-height: 1.5em;
}
footer * {
  color: gray;
}
.footer-text-item > p {
  margin: 0;

  width: fit-content;
}

/* .etc-top {
  padding: 1em 0; */
