* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;

  --primary-color: 95 199 209;
  --color-gray: 199 199 199;
  --color-white: 255 255 255;
}

header,
div,
nav,
section,
article {
  margin: 0;
  padding: 0;
}

nav {
  height: 3em;
}
a {
  text-decoration: none;
  color: black;
  display: block;
}

.row {
  margin: 0;
}

.header {
  min-height: 150px;
  padding: 1.5em 0;
  font-weight: 500;
}

.flex {
  display: flex;
}
.no-wrap {
  flex-wrap: nowrap;
}
.overflow {
  overflow: hidden;
}
.wrap {
  flex-wrap: wrap;
}
.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-left {
  justify-content: left;
}

.justify-right {
  justify-content: right;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.h-full {
  height: 100%;
}

.h-1\/2 {
  height: 50%;
}

.top-menu {
  position: absolute;
  right: 0;
}

.logo {
  color: rgba(var(--primary-color));
}

.info-text {
  color: white;
}

.main-etc {
  margin: 1em 0;
  color: rgba(var(--primary-color));
}
.side-item {
  height: 3em;
  line-height: 3em;
}

.reservation {
  display: block;

  height: 3em;
  line-height: 3em;

  background-color: rgba(var(--primary-color));
  color: rgba(var(--color-white));
}

.nav-item {
  line-height: 3em;
}
.bg-white {
  background-color: rgba(255, 255, 255);
  background: center no-repeat cover;
}
.jumbotron {
  background: none;
}

.social > * {
  padding: 0;
}
.footer-text-item > a,
.footer-text-item > p {
  padding: 0;
  padding: 0 0.5em;
}
@media (max-width: 990px) {
  .logo-box {
    justify-content: left;
  }
  .jumbotron p {
    font-size: 14px;
  }

  .info-text:nth-child(1) {
    margin: 1em 0 0.2em 0;
  }

  .info-text:nth-child(2),
  .info-text:nth-child(3),
  .info-text:nth-child(4) {
    margin: 0.2em;
  }
  .footer-text-item > a,
  .footer-text-item > p {
    font-size: 10px;
  }
}

@media (min-width: 989px) {
  .info-text {
    text-align: left;
    font-size: 1.5em;
    font-weight: 300;
  }
  .main-etc {
    font-size: 1.5em;
  }
  .footer-text-item > a,
  .footer-text-item > p {
    width: fit-content;
  }
}
.line-center {
  height: 2em;
  line-height: 2em;
}
.footer-text-line {
  height: 1.5em;
  line-height: 1.5em;
}
footer * {
  color: gray;
}
.footer-text-item > p {
  margin: 0;

  width: fit-content;
}

/* .etc-top {
  padding: 1em 0; */
