@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");

* {
  box-sizing: border-box;
  font: inherit;
  font-family: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  font-weight: 200;
  line-height: 1.5em;
  flex-wrap: wrap;
}
div,
form {
  height: fit-content;
}
a {
  text-decoration: none;
}
.container_size {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  font-family: "Noto Sans KR", sans-serif;
  background: url(/img/3081781.svg) center no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: black;
  padding: 1.5em;
}
.logo,
.form,
.login_width,
.login_box,
.btn_box,
.etc,
.sign_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
}
.form {
  max-width: 90%;
  padding: 1.5em;
  border: 1px solid black;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.login_box {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}
.login_box label {
  width: 10%;
}
.login_box input {
  width: 80%;
}
.btn_box button {
  width: 80%;
  height: 3em;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a {
  width: 50%;
  height: 5em;
  line-height: 5em;
  text-align: center;
}
.login_box:nth-child(1) {
  margin: 0 0 0.5em 0;
}
.etc {
  margin: 1em 0;
  padding: 0 0 0 1em;
  position: relative;
  justify-content: left;
}
#id,
#password {
  padding: 1em;
}
#id,
#password,
.btn_box > button {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0px 10px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: black;
}

input[type="checkbox"] {
  display: none;
}
#off {
  cursor: pointer;
}
.check {
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  margin: 0 1em 0 0;
}
.off {
  fill: rgba(0, 0, 0, 0.25);
}
input[type="checkbox"]:checked + .check {
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 0.5);
}
input[type="checkbox"]:checked + .check > svg {
  fill: rgba(0, 0, 0, 1);
}

.sign_box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  color: rgba(0, 0, 0, 1);
}
.sign_box a:nth-child(1)::after,
.sign_box a:nth-child(2)::after {
  content: "";
  width: 1px;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  margin: 0 0.8em;
}
